.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box ;
}
button{
  outline: none;
  border: 0;
  cursor: pointer;
}

.navbar{
  font-size: 2.5rem;
  padding: 1em;
  background-color: blanchedalmond;
}

.navbar-logo{
  color: green;
  margin-right: 0.5rem;
}

.navbar-count{
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2rem;
  background-color: green;
  color: white;
  border-radius: 50%;
}

.add-input{
  font-size: 2rem;
}
.add-button{
  height: 100%;
  font-size: 1.5rem;
  padding:0.3em 0.5em;
  background-color: green;
  color: white;
}
.habit{
  font-size: 2.5rem;
  padding: 0.5rem;
  list-style: none;
}


.habit-button{
  font-size: 2.5rem;
  margin: 0 0.1rem;
  background-color: transparent;
}

.habit-count { 
  border-radius: 50%;
  color:white;
  background-color: darkseagreen;
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2rem;
  margin-right: 0.5em;
}
.habit-button :hover{
  opacity: 0.8;
}
.habit-increase, 
.habit-decrease{
  color:goldenrod
}

.habit-delete{
  font-size: 2rem;
  color: darkred;
}

